---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>   
      </article>
      
    </div>

    
    {% include scripts.html %}
    <div style="display: flex; justify-content: center; margin-top: 20px;">
      <div style="transform: scale(0.7); transform-origin: top center;">
        
    </div>
  </div>
    
<!--   <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=nKuQ1CtQ7QEEoVzbOUadKn1xtcVyYHKypLRr1RqvkfM"></script> -->
    <script type="text/javascript">
  const script = document.createElement('script');
  script.type = 'text/javascript';
  script.id = 'clstr_globe';
  script.src = '//clustrmaps.com/globe.js?d=nKuQ1CtQ7QEEoVzbOUadKn1xtcVyYHKypLRr1RqvkfM';
  document.getElementById('clustrmaps-container').appendChild(script);
</script>
  </body>
  
</html>
